@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#article-content > p {
	padding: 1rem 0;
}

#article-content > ul {
	list-style-type: square;
	margin-left: 1rem;
}
